@page "/"
<div class="row">
    <div class="col">
        <div class="form-group">
            <input id="hours" placeholder="@hoursplaceholder" type="number" class="form-control" />

        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="number" placeholder="@minutesplaceholder" class="form-control" />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="number" placeholder="@secondsplaceholder" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <input type="button" class="form-control btn btn-dark" value="@submitValue" />
        </div>
    </div>
</div>
@code
{
    private string hoursplaceholder = string.Empty;
    private string minutesplaceholder = string.Empty;
    private string secondsplaceholder = string.Empty;
    private string submitValue = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        hoursplaceholder = "Godziny";
        minutesplaceholder = "Minuty";
        secondsplaceholder = "Sekundy";
        submitValue = "Start";
    }

}

