<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="5.0.1" targetFramework="net461" />
  <package id="DynamicData" version="7.1.17" targetFramework="net461" />
  <package id="Fody" version="6.5.1" targetFramework="net461" developmentDependency="true" />
  <package id="MahApps.Metro" version="2.4.7" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="4.8.0" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
  <package id="ReactiveUI" version="14.1.1" targetFramework="net461" />
  <package id="ReactiveUI.Fody" version="14.1.1" targetFramework="net461" />
  <package id="ReactiveUI.WPF" version="14.1.1" targetFramework="net461" />
  <package id="Splat" version="11.1.1" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>